body {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

h3 {
  font-size: 1.8em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0px 0px 15px;
  padding: 0;
}

li.correct-answer {
  background-color: #218838;
  color: white;
  font-weight: bold;
}
span.answer-pad {
  padding-left: 30px;
}

li.wrong-answer {
  background-color: red;
  color: white;
  font-weight: bold;
}
.disable-button {
  pointer-events:none;
}

button.btn {
  width: 37px;
  background-color: #efdd4f;
  color: #000;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styling to mimic buttons */
span.rule-bullet {
  display: inline-block;
  padding-top: 5px;
  text-align: center;
  height: 37px;
  width: 37px;
  background-color: #efdd4f;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

div.hide-card {
  display: none;
}

span.add-space {
  padding: 0px 10px 0px 5px;
}

/* timer and final score box */
div.display-box {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin: 8px 0px;
  padding-top: 2px;
  background-color: black;
  transition: background-color 1000ms;
  color: white;
}

/* font to make timer look like timer */
#timer-display {
  font-family: 'Anonymous Pro', monospace;
}

/* temporary styling to announce correct answer*/
div.correct-display-box {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin: 8px 0px;
  padding-top: 2px;
  background-color: #218838;
  color: white;
}

/* temporary styling to announce incorrect answer*/
div.wrong-display-box {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin: 8px 0px;
  padding-top: 2px;
  background-color: red;
  color: white;
}

main.card-style {
  border: solid 2px #efdd4f;
}

div.button-box, .welcome-box h1,  h1.card-title {
  text-align: center;
  margin: 0px 0px 8px;
}

div.welcome-box {
  /* padding: 0px 10px; */
  display: block;
  width: 100%;
  margin-left: 25px;
}

div.quiz-card, div.welcome-card {
  padding: 10px 15px 0px 10px;
}

/* reveal the quiz box */
div.show-time {
  display: block;
  width: 100%;
  margin-left: 25px;
}

span.name-score {
  font-size: 1.3em;
}

/* Styling for the modal backdrop */
div.modal-reveal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 55px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 

}

.modal-card {
  text-align: center;
  background-color: #efdd4fe0;
  margin: auto;
  padding: 20px;
  border: 2px solid #000;
  width: 80%;
}